$navbar-default-bg: #FACC2E;
@import "bootstrap-sprockets";
@import "bootstrap";

#logo {
  float: left;
  font-size: 1.7em;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: -1px;
  font-weight: bold;
}

#logo:hover {
  color: #fff;
  text-decoration: none;
}

.center {
  text-align: center;
}

.jumbotron {
  background-image: asset-url('held_sun.jpg');
  background-size: cover;
  height: 560px;
}

.jumbotron h1 {
  color: #FACC2E;
  font-weight: bold;
}

.btn-xlarge {
  background-color: black;
  border-radius: 24px;
}
.autofocus {
  color: #FACC2E;
}

.article-actions {
  border-top: 1px solid #eaeaea;
  padding-top: 5px;
}

.description {
  margin-top: 0;
}

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid #eaeaea;
}

footer small {
  float: left;
  margin-left: 15px;
}

footer ul {
  float: right;
  list-style: none;
}